parameters:
    level: 7
    autoload_files:
    - /var/www/oxideshop/vendor/oxid-esales/testing-library/base.php
    - /var/www/oxideshop/vendor/oxid-esales/oxideshop-ce/source/oxfunctions.php
    - /var/www/oxideshop/autoload.oxid.php
    stubFiles:
    - /var/www/oxideshop/stubs/oxnew.php
    - /var/www/oxideshop/stubs/Registry.php
    - /var/www/oxideshop/stubs/Base.php
