parameters:
    level: 7
    autoload_files:
    - /var/www/oxidesales/vendor/oxid-esales/testing-library/base.php
    - /var/www/oxidesales/vendor/oxid-esales/oxideshop-ce/source/oxfunctions.php
    - /var/www/oxidesales/autoload.oxid.php
    stubFiles:
    - /var/www/oxidesales/stubs/oxnew.php
    - /var/www/oxidesales/stubs/Registry.php
    - /var/www/oxidesales/stubs/Base.php
